.od {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cont1 {
    width: 400px;
    height: 600px;
}

.cont1 h4 {
    text-align: center;
}

.cont1 p[title]{
  cursor: help;
}

.image-holder {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-holder img {
    width: 400px;
    height: auto;
}

#eval-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}

#eval-table th, 
#eval-table td {
  border: 1px solid #aaa;
  padding: 8px;
}

#eval-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
